* {
     margin: 0;
     padding: 0;
}
body{
    width: 100%;
    height: 877px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
li{
    list-style: none;
}
.question{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}
.answer{
width: 470px;
height: 70px;
color: white;
font-size: 1.3rem;
font-weight: 700;
background-color: #47d26b;
text-align: center;
display:none;
justify-content: center;
align-items: center;
cursor: pointer;

}
.popup{
    display: none;
    position: relative;
    z-index: 10;
    width: 560px;
    height: 560px;    
    background-color:white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    animation:show ;
    -webkit-animation:show ;
    animation-direction: normal;
    cursor: default;
 }
 .flex-box{
     width: 100vw;
     height: 100vh;
     position: relative;
     z-index: 10;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .end{
     width: 70px;
     height: 30px;
     background: url('./img/close.jpg') center center no-repeat;
     background-size: contain;
     position: absolute;
     top: 15px;
     right: 0px;
     font-size: 100px;
     font-weight: 100;
     color: white;
     z-index: 6;
 }
 .end:hover{
     cursor: pointer;
 }
.form{
  width:500px;
  height:425px;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form__inp{
margin-top:20px;
width:500px;
  height:170px;
  display:flex;
   flex-direction: column;
  justify-content: space-around;
  align-items:center;
 
}
.form__text{
width: 500px;
font-size: 0.95rem;
font-weight: 600;
}
.form__button{
    width: 470px;
    height: 55px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #47d26b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.form__inp-input{
    width: 460px;
    height: 56px;
    border-bottom: 2px solid  #e4e4e4; 
    color: #e4e4e4;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items:flex-start;
 
}
input{
    width: 460px;
  height:54px;
  border: transparent;
  font-size: 1.2rem;
  outline: none;
 

}
:focus::-webkit-input-placeholder {
    color: transparent;
    text-decoration: none;
  }
   
  :focus::-moz-placeholder {
    color: transparent;
    text-decoration: none;
  }
   
  :focus:-moz-placeholder {
    color: transparent;
    text-decoration: none;
  }
   
  :focus:-ms-input-placeholder {
    color: transparent;
    text-decoration: none;
  }
.err{
   border: 1px solid #f95d51;
   padding-left: 10px;
   box-sizing: border-box;
}
.err-box{
width: 470px;
height: 140px;
display: none;
flex-direction: column;
justify-content: space-between;
}
.err-box>p{
    text-align-last: left;
    margin-top: -5px;
    font-size: 0.8rem;
    color: #f95d51;
    margin-bottom: 14px;
}
.box{
    width: 470px;
    height: 100px;
    color: white;
    background-color: #f95d51;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.h1{
  font-size:1.8rem;
  font-weight: 700;
  color: #323232;
}
.fon{
    width: 100vw;
    height: 877px;
    background: url('./img/background.png') center center no-repeat;
    background-size:cover;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.wrap{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.head{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    color: #6b7083; 
    position: relative;
    z-index: 7; 
}
.head__title{
    width: 195px;
    padding-top: 3px; 
}
.title-item{
    font-size: 0.8rem;
     padding-left: 13.15px;
     font-weight: 300;
     word-spacing: -1px;
     line-height: 12.5px;
     color: black;
}
.title{
    font-size: 3rem;
    font-weight: 500;
    padding-left: 11px;  
}
.head__text{
    width: 293px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    align-self: center;
    padding-left: 24px;

}
.head__phone{
    width: 300px;
    text-align: center;
    line-height: 29px;
    padding-top: 12.7px;  
}
.phone{
font-size: 1.6rem;
font-weight: 400;
color: #6b7083;
text-decoration: none; 
}
.phone-action{
    height: 7px;
font-size: 0.95rem;
font-weight: 500;
border-bottom: 1.2px solid black;
line-height: 0;
display: inline-block;
color: black;
}
.phone-action:hover{
    cursor: pointer;
}
.upper{
    text-transform: uppercase;
}
.text{
    width: 405px;
    height: 500px;
display: flex;
flex-direction: column;
align-self: flex-start;
color: #ffffff;
position: relative;
}
.text__title{
    padding: 36px 1px 1px 32px;
height: 130px;
font-size: 2.8rem;
font-weight: bold;
}
.text__item{ 
   
    font-size: 1rem;
    font-weight: 400;
    display: flex;
   padding-left: 30px;
   padding-top: 32px;
   letter-spacing: -0.73px;
}
 .img39{
    width: 35px;
    height: 39px;
    padding-left: 4px;
    padding-top: 3px;
}
.img37{
    width: 30px;
    height: 36px;
    padding-left: 8px;
    padding-top: 5px;
    margin-right: 2px;
}
.img38{
    width: 36px;
    height: 36px;
    padding-left: 5px;
    padding-top: 6px;
    margin-right: 2px;
}
.v1{
    padding-left: 10px;
}
.v2{
    width: 140px;
    padding-left: 11px;
    padding-top: 8px;
}
.text__action{
    width: 261px;
    height: 52px;
    background-color: #47d26b;
    box-sizing: border-box;
    margin-top: 48px;
    margin-left: 16px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
   color: black;
   
}
.present{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 250px;
    height: 103px;
    background: url('./img//lenta.png') center center no-repeat;
    display: flex;
    justify-content: center;  
    margin-left: 51px;
    margin-top: 65px;
}
.present__item{
    width: 180px;
    height: 46px;
  padding-top: 10px;
    display: flex;
    text-transform: uppercase;
   margin-left: 42px;
}
.icon{
    display: none;
    padding: 12px 16px;
    text-align: center;
    color: #6b7083;
    font-size: 40px;
}
.icon:hover{
    cursor: pointer;
}
.menu{
   position: fixed;
   top: 0;
   right: -301px;
   width: 300px;
   height: 120vh;
   background-color: white;
   color: black;
   cursor: pointer;
   font-size: 20px;
 transition-duration: .6s;
 z-index: 10;
 border-left: 1px solid black;

}
.wrapper{
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 150vh;
    background-color: rgba(0,0,0, .6);
    display: none;  
    cursor: pointer; 
}
.menu__menu{
    margin-top: 55px;
    padding-left: 20px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
}
.triangle{
    display: none;
    width: 80vw;
    height: 810px;
    background: url('./img/tripre.png') no-repeat;
    position: absolute;
    bottom: 40px;  
    right: -192px;
    z-index: 5;
    background-color: transparent;
}

@keyframes show{
    0%{
        opacity: 0;
        bottom: -120px;
        transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
 
    }
100%{
    opacity: 1;
    bottom: 0;
}
}
@keyframes hide{
    0%{
        opacity: 1;
        bottom: 0;  
    }
   
100%{
    opacity: 0;
    bottom: -120px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}  
 
}




@media screen and (max-width: 1920px){
    .wrap{
        width: 70%;
    }   
    
}
@media screen and (max-width: 1250px){
    .text{ 
        width: 95%;   
    }
    .wrap{
        width: 85%;
    }
    .fon{
        background-position: -370px;
        
    }
    .present{
        display: none;
    }
    .popup{
        width: 460px;
        height: 600px;  
    }
    .form{
        width: 400px;
        height: 515px;
    }
    .form__inp,
    .form__inp-input{
        width: 400px;
        margin: 0;
    }
    input{
        width: 385px;
    }
    .form__text,
    .form__button,
    .err-box,
    .answer,
    .box{
        width: 400px;
    }
} 
@media screen and (max-width: 920px){

html{
    font-size: 15px;
}
.head__text{
    display: none;
}
.triangle{
    display: block;
    /* right: -131px; */
    right: 0;
}
}

@media screen and (max-width: 730px){
    
    html{
        font-size: 13px;
    }
    .head{
        flex-wrap: wrap;
        align-items: center;
    }
    .head__text{
        width: 30%;
    }
    .head__title{
        width: 40%;
    }
    .head__phone{
        padding-top: 5.7px;
        margin: 0 auto;
        line-height: 29px;
       
    }
    .phone{
      
        font-size: 2rem;
    }
    .phone-action{
       
        font-size: 2rem;
        text-decoration: underline;
        border-bottom: none;
    }
    .text__item{
        font-size: 1.5rem;
    }
    .text__title{
        font-size: 3rem;
    }
        
         
          
        
    }

    
    @media screen and (max-width: 640px){
        .icon{
            display: block;
        }
        .head__phone{
            display: none;
        }
      
        
    }
    @media screen and (max-width: 500px){
       html{
           font-size: 10px;
       }
        .phone-action .phone{
            font-size: 1.3rem;  
        }
        .head__phone {
            width: 100%;
            padding-top: 4px;   
        }
        .text__action{
            width: 50vw;
            height: 5vh; 
        }
        .popup{
            width: 100vw;
            height: 80vh;  
            align-items: flex-start;
        }
        .form{
            width: 90vw;
            height: 50vh;
           margin-top: 32px;
        }
        .form__text,
        .form__inp-input,
        .form__inp,
        input{
            width: 90vw;    
        }
        .form__button,
        .answer,
        .box{
            width: 90vw;
            height: 6vh;
        }
        .err-box{
            height: 90px;
            width: 90vw;
        }
        .form__inp-input{
           border-bottom: 1px solid #e4e4e4;
        }
        input{
            font-size: 1.7rem;
        }
        
    }